footer {
  padding-block: 1.6rem;
  position: relative;
  text-align: end;

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    top: -3.2rem;
    left: 0;
    height: 3.2rem;
    background: linear-gradient(to bottom right, transparent 0%, transparent 50%, var(--theme-surface-primary) 50%, var(--theme-surface-primary) 100%);
  }
}
