.storeListContainer {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  gap: 2.4rem;
  flex-wrap: wrap;
  justify-content: start;

  li {
    padding: 0;
    margin: 0;
    min-width: 180px;
    max-width: 260px;
    flex-basis: 22%;
    flex-grow: 1;
  }
}