.storeCard {
  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
    margin-bottom: 1.2rem;
  }

  p {
    line-height: 1.2;
    margin: 0;
    font-size: clamp(1.4rem, 2vw, 1.66rem);
  }
  
  h2 {
    margin-top: 0;
    margin-bottom: 0.8rem;
    line-height: 1;
    font-weight: 600;
    font-size: clamp(1.4rem, 2vw, 1.66rem);
  }
}